## 통계 1일차 과제
### 1번 과제 - 28페이지

다음 데이터는 자동차의 모델과 연비(mpg)에 대한 자료를 조사한 Table입니다. 이 범주형 데이터에 대해 counts, percents, cumulative counts, cumulative percents를 계산 바랍니다.(data.set : mycars.csv)

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

df_cars = pd.read_csv('/home/piai/Downloads/data_stats/mycars.csv')

In [3]:
df_cars.head()

,manufacturer,model,displacement,year,cylinder,automatic,driving,mpg,highway_mileage,fuel,class
0,audi,a4,1.8,1999,4,auto,f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual,f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual,f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto,f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto,f,16,26,p,compact

In [4]:
df = df_cars[['model','mpg']]

# counts
count = df['model'].value_counts().sort_index()


# cumulative counts
cumcnt = np.cumsum(count)


# percents
percent = count/sum(count) * 100


# cumulative percents
cumpct = np.cumsum(percent)

In [5]:
df_result = pd.DataFrame({'Count':count,'CumCnt':cumcnt,'Percent':percent,'Cumpct':cumpct}).sort_index()
df_result.columns.name = 'model'
df_result

model                   Count  CumCnt   Percent      Cumpct
4runner 4wd                 6       6  2.564103    2.564103
a4                          7      13  2.991453    5.555556
a4 quattro                  8      21  3.418803    8.974359
a6 quattro                  3      24  1.282051   10.256410
altima                      6      30  2.564103   12.820513
c1500 suburban 2wd          5      35  2.136752   14.957265
camry                       7      42  2.991453   17.948718
camry solara                7      49  2.991453   20.940171
caravan 2wd                11      60  4.700855   25.641026
civic                       9      69  3.846154   29.487179
corolla                     5      74  2.136752   31.623932
corvette                    5      79  2.136752   33.760684
dakota pickup 4wd           9      88  3.846154   37.606838
durango 4wd                 7      95  2.991453   40.598291
expedition 2wd              3      98  1.282051   41.880342
explorer 4wd                6     104  2.564103   44.444444
f150 pickup 4wd             7     111  2.991453   47.435897
forester awd                6     117  2.564103   50.000000
grand cherokee 4wd          8     125  3.418803   53.418803
grand prix                  5     130  2.136752   55.555556
gti                         5     135  2.136752   57.692308
impreza awd                 8     143  3.418803   61.111111
jetta                       9     152  3.846154   64.957265
k1500 tahoe 4wd             4     156  1.709402   66.666667
land cruiser wagon 4wd      2     158  0.854701   67.521368
malibu                      5     163  2.136752   69.658120
maxima                      3     166  1.282051   70.940171
mountaineer 4wd             4     170  1.709402   72.649573
mustang                     9     179  3.846154   76.495726
navigator 2wd               3     182  1.282051   77.777778
new beetle                  6     188  2.564103   80.341880
passat                      7     195  2.991453   83.333333
pathfinder 4wd              4     199  1.709402   85.042735
ram 1500 pickup 4wd        10     209  4.273504   89.316239
range rover                 4     213  1.709402   91.025641
sonata                      7     220  2.991453   94.017094
tiburon                     7     227  2.991453   97.008547
toyota tacoma 4wd           7     234  2.991453  100.000000

In [7]:
# counts
count2 = df['mpg'].value_counts().sort_index()

# cumulative counts
cumcnt2 = np.cumsum(count2)


# percents
percent2 = count2/sum(count2) * 100


# cumulative percents
cumpct2 = np.cumsum(percent2)

In [8]:
df_result2 = pd.DataFrame({'Count':count2,'CumCnt':cumcnt2,'Percent':percent2,'Cumpct':cumpct2}).sort_index()
df_result2.columns.name = 'mpg'
df_result2

mpg  Count  CumCnt    Percent      Cumpct
9        5       5   2.136752    2.136752
11      20      25   8.547009   10.683761
12       8      33   3.418803   14.102564
13      21      54   8.974359   23.076923
14      19      73   8.119658   31.196581
15      24      97  10.256410   41.452991
16      19     116   8.119658   49.572650
17      16     132   6.837607   56.410256
18      26     158  11.111111   67.521368
19      20     178   8.547009   76.068376
20      11     189   4.700855   80.769231
21      23     212   9.829060   90.598291
22       4     216   1.709402   92.307692
23       3     219   1.282051   93.589744
24       5     224   2.136752   95.726496
25       2     226   0.854701   96.581197
26       3     229   1.282051   97.863248
28       2     231   0.854701   98.717949
29       1     232   0.427350   99.145299
33       1     233   0.427350   99.572650
35       1     234   0.427350  100.000000

### 2번 과제 - 45페이지

어떤 자동차 1리터당 주행거리가 평균 12km, 표준편차 3km인 정규분포를 이룬다.  
1) 1리터를 가지고 9km 이상 15km 이하를 달릴 확률은 얼마인가요?

In [52]:
mean_ = 12
dev_ = 3

# 1)
# prob1: 누적확률 15이하 값 계산

x1 = 15
prob1 = stats.norm.cdf(x1, mean_, dev_)

# prob2: 누적확률 9이하 값 계산

x2 = 9
prob2 = stats.norm.cdf(x2, mean_, dev_)

print('1리터를 가지고 9km 이상 15km 이하를 달릴 확률은 얼마인가요?\n답은', round(prob1 - prob2,3), '입니다.')

1리터를 가지고 9km 이상 15km 이하를 달릴 확률은 얼마인가요?
답은 0.683 입니다.

2) 1리터를 가지고 15km 이상을 달릴 확률은 얼마인가요?

In [53]:
# prob3: 누적확률 15이상 값 계산

x3 = 15
prob3 = 1 - stats.norm.cdf(x3, mean_, dev_)

print('1리터를 가지고 15km 이상을 달릴 확률은 얼마인가요?\n답은', round(prob3,3),'입니다.')

1리터를 가지고 15km 이상을 달릴 확률은 얼마인가요?
답은 0.159 입니다.